# Collected data
analysis/data
analysis/results/merged_data

# Miscellaneous documents
control_variables_&_demographics 
MACSS_documents
mood_induction_film_clips
MTurk_Online_Consent_Form_Revised.doc
.DS_Store
.Rproj.user
.Rhistory
.Rdata

# ResMem
analysis/scripts/ResMem